

body {
    background-color: rgb(14, 214, 14);
}

.navbar {
    background-color: rgb(59, 29, 29);
    color: white;
}

.media {
    background-color: rgb(59, 29, 29);
    color: white;
}

.input-group {
    background-color: rgb(42, 42, 44);
    color: white;
}
.form-group {
    background-color: rgb(42, 42, 44);
    color: white;
}
.card {
    background-color: rgb(42, 42, 44); 
    color: white;
}

